@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.footer{
    background-color: black;
    height: auto;
    padding: 15px;
}

.footer h1{
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 17pt;
    margin-bottom: 30px;
}

.line{
    display: block;
    height: 1px;
    background: #ffffff;
}

.footer-text-section{
    display: flex;
    flex-wrap: wrap;
}

.footer-text-section p{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.reach-us .footer-heading, .company .footer-heading, .legal .footer-heading, .quick-links .footer-heading{
    font-size: 13pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.newsletter-box .footer-heading{
    font-size: 13pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.reach-us{
    flex: 2;
    width: 18%;
    margin: 9px;
}

.company,  .legal, .quick-links{
    flex: 1;
    width: 14%;
    margin: 5px 20px 5px 20px;
}

.reach-us p, .company p, .legal p, .quick-links p{
    font-size: 9pt;
}

.newsletter{
    display: flex;
    align-items: center;
}

.newsletter-box{
    background-color: #131313;
    height: 140px;
    width: 410px;
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
}

.newsletter-box input{
    background-color: #1E1E1E;
    height: 40px;
    appearance: none;
    box-shadow: none;
    border: none;
    padding: 0px 5px 0px 15px;
}
.newsletter-box input:focus{
    appearance: none;
    box-shadow: none;
    border: none;
    outline: none;
    caret-color: #ffffff;
}


.newsletter-box button{
    background-color: #000000;
    color: white;
    border-radius: 0px;
}

.newsletter-box .footer-info{
    font-size: 8pt;
    color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 600px) {
    .footer{
        height: auto;
    }
    .reach-us, .company, .legal, .quick-links{
        display: block;
        width: 48%;
    }
    .newsletter-box{
        height: auto;
        width: 100%;
        border-radius: 10px;
        padding: 0px 15px 0px 15px;
    }
    .newsletter-box button{
        border-radius: 10px;
    }
}